[submodule "Libraries/GMGridView"]
	path = Libraries/GMGridView
	url = git://github.com/gmoledina/GMGridView.git
[submodule "Libraries/nimbus"]
	path = Libraries/nimbus
	url = git://github.com/jverkoey/nimbus.git
[submodule "Libraries/PTImageAlbumViewController"]
	path = Libraries/PTImageAlbumViewController
	url = https://github.com/exalted/PTImageAlbumViewController.git
[submodule "Libraries/SDURLCache"]
	path = Libraries/SDURLCache
	url = git://github.com/rs/SDURLCache.git
[submodule "Libraries/PSPDFKit"]
	path = Libraries/PSPDFKit
	url = git://github.com/steipete/PSPDFKit-Demo.git
