<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<array>
		<dict>
			<key>UniqueName</key>
			<string>83a115dfcdce56aeb39a75df77d58ddf</string>
			<key>Title</key>
			<string>Depliant</string>
			<key>ContentType</key>
			<integer>0</integer>
			<key>Thumbnail</key>
			<string>data/thumbs/divisorio.png</string>
			<key>Orientation</key>
			<integer>0</integer>
			<key>Items</key>
			<array>
				<dict>
					<key>Title</key>
					<string>Divisorio</string>
					<key>Source</key>
					<string>data/doc/divisorio.pdf</string>
					<key>Thumbnail</key>
					<string>data/thumbs/divisorio.png</string>
					<key>ContentType</key>
					<integer>3</integer>
					<key>Orientation</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Title</key>
					<string>Lastre</string>
					<key>Source</key>
					<string>data/doc/lastre.pdf</string>
					<key>Thumbnail</key>
					<string>data/thumbs/lastre.png</string>
					<key>ContentType</key>
					<integer>3</integer>
					<key>Orientation</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Title</key>
					<string>Muro</string>
					<key>Source</key>
					<string>data/doc/muro.pdf</string>
					<key>Thumbnail</key>
					<string>data/thumbs/muro.png</string>
					<key>ContentType</key>
					<integer>3</integer>
					<key>Orientation</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Poliespanso</string>
			<key>Source</key>
			<string>data/video/poliespanso.mp4</string>
			<key>Thumbnail</key>
			<string>data/thumbs/trailer.png</string>
			<key>ContentType</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>UniqueName</key>
			<string>a5163fe21f330316158294f4b906f597</string>
			<key>Title</key>
			<string>Foto</string>
			<key>Thumbnail</key>
			<string>data/img/laminati-plastici/01.jpg</string>
			<key>ContentType</key>
			<integer>0</integer>
			<key>Orientation</key>
			<integer>1</integer>
			<key>Items</key>
			<array>
				<dict>
					<key>UniqueName</key>
					<string>ec90da36bb5cae03932cfab1d996f67e</string>
					<key>Title</key>
					<string>Laminati Plastici</string>
					<key>Thumbnail</key>
					<string>data/img/laminati-plastici/01.jpg</string>
					<key>ContentType</key>
					<integer>0</integer>
					<key>Orientation</key>
					<integer>1</integer>
					<key>Items</key>
					<array>
						<dict>
							<key>Title</key>
							<string></string>
							<key>Description</key>
							<string></string>
							<key>Source</key>
							<string>data/img/laminati-plastici/01.jpg</string>
							<key>Thumbnail</key>
							<string>data/img/laminati-plastici/01.jpg</string>
							<key>ContentType</key>
							<integer>1</integer>
							<key>Orientation</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Title</key>
							<string></string>
							<key>Description</key>
							<string></string>
							<key>Source</key>
							<string>data/img/laminati-plastici/02.jpg</string>
							<key>Thumbnail</key>
							<string>data/img/laminati-plastici/02.jpg</string>
							<key>ContentType</key>
							<integer>1</integer>
							<key>Orientation</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>Title</key>
							<string></string>
							<key>Description</key>
							<string></string>
							<key>Source</key>
							<string>data/img/laminati-plastici/03.jpg</string>
							<key>Thumbnail</key>
							<string>data/img/laminati-plastici/03.jpg</string>
							<key>ContentType</key>
							<integer>1</integer>
							<key>Orientation</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>Title</key>
							<string></string>
							<key>Description</key>
							<string></string>
							<key>Source</key>
							<string>data/img/laminati-plastici/04.jpg</string>
							<key>Thumbnail</key>
							<string>data/img/laminati-plastici/04.jpg</string>
							<key>ContentType</key>
							<integer>1</integer>
							<key>Orientation</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>UniqueName</key>
					<string>16c45e82ec19d52989d695c3b464be2d</string>
					<key>Title</key>
					<string>Listellari</string>
					<key>Thumbnail</key>
					<string>data/img/listellari/01.jpg</string>
					<key>ContentType</key>
					<integer>0</integer>
					<key>Orientation</key>
					<integer>1</integer>
					<key>Items</key>
					<array>
						<dict>
							<key>Title</key>
							<string></string>
							<key>Description</key>
							<string></string>
							<key>Source</key>
							<string>data/img/listellari/01.jpg</string>
							<key>Thumbnail</key>
							<string>data/img/listellari/01.jpg</string>
							<key>ContentType</key>
							<integer>1</integer>
							<key>Orientation</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>Title</key>
							<string></string>
							<key>Description</key>
							<string></string>
							<key>Source</key>
							<string>data/img/listellari/02.jpg</string>
							<key>Thumbnail</key>
							<string>data/img/listellari/02.jpg</string>
							<key>ContentType</key>
							<integer>1</integer>
							<key>Orientation</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>Title</key>
							<string></string>
							<key>Description</key>
							<string></string>
							<key>Source</key>
							<string>data/img/listellari/03.jpg</string>
							<key>Thumbnail</key>
							<string>data/img/listellari/03.jpg</string>
							<key>ContentType</key>
							<integer>1</integer>
							<key>Orientation</key>
							<integer>1</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>UniqueName</key>
					<string>043110ffb6e2f2bb8b7f35b31bc35ed1</string>
					<key>Title</key>
					<string>Mdf</string>
					<key>Thumbnail</key>
					<string>data/img/mdf/01.jpg</string>
					<key>ContentType</key>
					<integer>0</integer>
					<key>Orientation</key>
					<integer>0</integer>
					<key>Items</key>
					<array>
						<dict>
							<key>Title</key>
							<string></string>
							<key>Description</key>
							<string></string>
							<key>Source</key>
							<string>data/img/mdf/01.jpg</string>
							<key>Thumbnail</key>
							<string>data/img/mdf/01.jpg</string>
							<key>ContentType</key>
							<integer>1</integer>
							<key>Orientation</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>Title</key>
							<string></string>
							<key>Description</key>
							<string></string>
							<key>Source</key>
							<string>data/img/mdf/02.jpg</string>
							<key>Thumbnail</key>
							<string>data/img/mdf/02.jpg</string>
							<key>ContentType</key>
							<integer>1</integer>
							<key>Orientation</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>Title</key>
							<string></string>
							<key>Description</key>
							<string></string>
							<key>Source</key>
							<string>data/img/mdf/03.jpg</string>
							<key>Thumbnail</key>
							<string>data/img/mdf/03.jpg</string>
							<key>ContentType</key>
							<integer>1</integer>
							<key>Orientation</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>Title</key>
							<string></string>
							<key>Description</key>
							<string></string>
							<key>Source</key>
							<string>data/img/mdf/04.jpg</string>
							<key>Thumbnail</key>
							<string>data/img/mdf/04.jpg</string>
							<key>ContentType</key>
							<integer>1</integer>
							<key>Orientation</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>Title</key>
							<string></string>
							<key>Description</key>
							<string></string>
							<key>Source</key>
							<string>data/img/mdf/05.jpg</string>
							<key>Thumbnail</key>
							<string>data/img/mdf/05.jpg</string>
							<key>ContentType</key>
							<integer>1</integer>
							<key>Orientation</key>
							<integer>0</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
